{
  "parser": "babel-eslint",
  "extends": ["plugin:prettier/recommended", "airbnb"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src", "node_modules"]
      }
    }
  },
  "rules": {
    "no-return-await": "off",
    "no-underscore-dangle": "off",
    "no-return-assign": "off",
    "no-nested-ternary": "off",
    "object-curly-newline": "off",
    "implicit-arrow-linebreak": "off",
    "no-confusing-arrow": "off",
    "arrow-parens": "off",
    "camelcase": "off",
    "linebreak-style": "off",
    "function-paren-newline": "off",
    "operator-linebreak": "off",
    "import/prefer-default-export": "off",
    "indent": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/prop-types": "off",
    "react/no-array-index-key": "off",
    "react/state-in-constructor": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-props-no-spreading": "off",
    "import/no-cycle": "off"
  }
}
